// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photoImg {
  max-width: 150px;
  display: inline-block;
}
.photoImgSmall {
  height: 75px;
  max-width: 75px;
  display: inline-block;
}


p.talkbubble {
  position: relative;
  min-height: 100px;

  padding: 10px;
  border-radius: 5px;
  border: solid lightblue;
  background: lightblue;
}

p.talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;

  border-top: 13px solid transparent;
  border-right: 26px solid lightblue;
  border-bottom: 13px solid transparent;
}

.jumbotron#special-trips {
  background-color: #d9dae9;
}

.jumbotron p, .jumbotron .p {
  color: #333333;
}

#user-profile {
  margin-top: 50px;
}

/* .top-buffer {
    margin-top: 20px;
}
.top-small-buffer {
    margin-top: 10px;
}

.jumbotron {
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
}

.nav-tabs li {
    width: 50%;
    text-align: center;
}
.tab-pane {
    padding: 20px;
}

.city-img {
    position: relative;
    overflow: hidden;
}
.city-name {
    position: absolute;
    color: #fff;
    font-size: 32px;
    top: 40%;
    width: 100%;
    line-height: 1;
}
.caption .fa {
    margin-right: 5px;
}

.bg {
    opacity: 0;
    overflow: visible;
    background: rgba(0,0,0,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.city-img:hover .bg {
    opacity: 1;
}
.city-img:hover .btn-primary {
    opacity: 1;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.city-img .btn-primary {
    width: 80%;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    top:40%;
    -webkit-transition: opacity 0.5s 0s ease-in-out;
    -moz-transition: opacity 0.5s 0s ease-in-out;
    -o-transition: opacity 0.5s 0s ease-in-out;
    -ms-transition: opacity 0.5s 0s ease-in-out;
    transition: opacity 0.5s 0s ease-in-out;
}

.noPadding {
    padding: 0;
}

@media (max-width: 470px) {
    .mobileHalfWidth {
        width: 50%;
    }
    .mobileFullWidth {
        width: 100%;
    }
}
*/
body {
  background: #eaeaea;
}
.user-details {
  position: relative;
  padding: 0;
}
.user-details .user-image {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.user-image img {
  clear: both;
  margin: auto;
  position: relative;
}
.user-details .user-info-block {
  width: 100%;
  position: absolute;
  top: 55px;
  background: rgb(255, 255, 255);
  z-index: 0;
  padding-top: 35px;
}
.user-info-block .user-heading {
  width: 100%;
  text-align: center;
  margin: 10px 0 0;
}
.user-info-block .navigation {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #428bca;
  border-top: 1px solid #428bca;
}
.navigation li {
  float: left;
  margin: 0;
  padding: 0;
}
.navigation li a {
  padding: 20px 30px;
  float: left;
}
.navigation li.active a {
  background: #428bca;
  color: #fff;
}
.user-info-block .user-body {
  float: left;
  padding: 5%;
  width: 90%;
}
.user-body .tab-content > div {
  float: left;
  width: 100%;
}
.user-body .tab-content h4 {
  width: 100%;
  margin: 10px 0;
  color: #333;
}
